
## Voron Design VORON2 250/300/350mm SKR 1.4 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths							[mcu] section
## Thermistor types						[extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location			[safe_z_home] section
## Homing end position				[gcode_macro G32] section
## Z Endstop Switch  offset for Z0		[stepper_z] section
## Probe points							[quad_gantry_level] section
## Min & Max gantry corner postions		[quad_gantry_level] section
## PID tune								[extruder] and [heater_bed] sections
## Fine tune E steps					[extruder] section

##========================== Pin Definitions ========================
## X_STEP_PIN         2.2
## X_DIR_PIN          2.6
## X_ENABLE_PIN       2.1
## X_STOP_PIN         1.29
## E0_DET_PIN         1.26
## X_UART_PIN         1.10


## Y_STEP_PIN         0.19
## Y_DIR_PIN          0.20
## Y_ENABLE_PIN       2.8
## Y_STOP_PIN         1.28
## E1_DET_PIN         1.26
## Y_UART_RX          1.9


## Z_STEP_PIN         0.22
## Z_DIR_PIN          2.11
## Z_ENABLE_PIN       0.21
## Z_STOP_PIN         1.27
## PWR_DET_PIN        1.0
## Z_UART             1.8


## E0_STEP_PIN        2.13
## E0_DIR_PIN         0.11
## E0_ENABLE_PIN      2.12
## E0_UART            1.4


## E1_STEP_PIN        1.15
## E1_DIR_PIN         1.14
## E1_ENABLE_PIN      1.16
## E1_UART_RX         1.1


## HE1                2.4    
## HE0                2.7
## BED                2.5
## TH1 (H1 Temp)      0.23
## TH0 (H0 Temp)      0.24
## TB  (Bed Temp)     0.25
## FAN                2.3
## SERVO              2.0
## PROBE			  0.10
##===================================================================


[include config/*.cfg]

[include shell_command.cfg]

[include client.cfg]

[include client_macros.cfg]

[include config_backup.cfg]

[include macros.cfg]

#[include klicky-probe.cfg]

#[include auto-z.cfg]

#[include clean-nozzle.cfg]

#[include toolhead_btt_ebbcan.cfg]

#[include stealthburner_leds.cfg]

#[include calibrate_flow.cfg]

#[include calibrate_pa.cfg]

#[include Runout.cfg]

#[include KAMP_Settings.cfg]

[include K-ShakeTune/*.cfg]

[force_move]
enable_force_move: true

[mcu]
##	MCU for X/Y/E steppers main MCU
##	[X in X] - B Motor
##	[Y in Y] - A Motor
##	[E in E0] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1A500018029175AF6173FF5EC32000F5-if00
##--------------------------------------------------------------------

[mcu z]
##	MCU for Z steppers
##	[Z in X] - Front Left
##	[Z1 in Y] - Rear Left
##	[Z2 in Z] - Rear Right
##	[Z3 in E0]- Front Right
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1D130A0AD2084D538589094E060000F5-if00
##--------------------------------------------------------------------

#[mcu rpi]
## MCU for Input Shaper with ADXL345

#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    150,150,20  # an example

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

[bed_mesh]
speed: 1000
probe_count: 50,50
algorithm: bicubic
mesh_min: 15, 30
mesh_max: 290, 260
zero_reference_position: 82.32,30.00

[exclude_object]

[gcode_arcs]
resolution: 0.1

[printer]
kinematics: corexy
max_velocity: 400  
#max_accel: 3000    			#Max 4000
max_accel: 8000             #suggested by shaper_calibrate
max_z_velocity: 20 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0


#####################################################################
# 	X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X on mcu_xye (B Motor)
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
#endstop_pin: P1.29
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 3
use_sensorless_homing: true
##--------------------------------------------------------------------

##	Uncomment for 300mm build
position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 40   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: P1.10
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: P1.29
sense_resistor: 0.110
home_current: 0.9
#driver_SGTHRS: 137

[stepper_y]
##	Connected to Y on mcu_xye (A Motor)
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
#endstop_pin: !P1.28
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 1
use_sensorless_homing: true
##--------------------------------------------------------------------

##	Uncomment for 300mm build
position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 40  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: P1.9
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: P1.28
sense_resistor: 0.110
home_current: 0.9
#driver_SGTHRS: 130
 
#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z MCU - In X Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: z:P2.2
dir_pin: !z:P2.6
enable_pin: !z:P2.1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
# endstop_pin: z:P1.27
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
##--------------------------------------------------------------------

##	Uncomment below for 300mm build
position_max: 290

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: z:P1.10
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z MCU - In Y Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: z:P0.19
dir_pin: z:P0.20
enable_pin: !z:P2.8
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: z:P1.9
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z MCU - In Z Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: z:P0.22
dir_pin: !z:P2.11
enable_pin: !z:P0.21
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: z:P1.8
interpolate: true
run_current: 0.8
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z MCU - In E0 Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: z:P2.13
dir_pin: z:P0.11
enable_pin: !z:P2.12
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: z:P1.4
interpolate: true
run_current: 0.8
hold_current: 0.80
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Extruder moved to ebb36
#####################################################################

#	E0 on MCU X/Y
##[extruder]
##step_pin: P2.13
##dir_pin: P0.11
##enable_pin: !P2.12
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
##rotation_distance: 22.6789511	#Bondtech 5mm Drive Gears
##rotation_distance: 5.63
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
##gear_ratio: 50:10				#BMG Gear Ratio
##microsteps: 32
##full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
##nozzle_diameter: 0.400
##filament_diameter: 1.75
##heater_pin: P2.7
##	Validate the following thermistor type to make sure it is correct
## sensor_type: NTC 100K beta 3950
##sensor_type: ATC Semitec 104NT-4-R025H42G
##sensor_pin: z:P0.23
##min_temp: 10
##max_temp: 270
##max_power: 1.0
##min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
##	Try to keep pressure_advance below 1.0
##pressure_advance: 0.065
##	Default is 0.040, leave stock
##pressure_advance_smooth_time: 0.040

##	E0 on MCU X/Y
##	Make sure to update below for your relevant driver (2208 or 2209)
#[tmc2209 extruder]
#uart_pin: P1.4
#interpolate: false
#run_current: 0.5
#hold_current: 0.4
#sense_resistor: 0.110
#stealthchop_threshold: 0

[verify_heater extruder]
#max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
#check_gain_time: 20
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - Z board, Fan Pin
heater_pin: z:P2.3
## sensor_type: NTC 100K beta 3950
sensor_type: Generic 3950
sensor_pin: z:P0.25
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

#[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
##	Z_MAX on mcu_z
##	If your probe is NO instead of NC, add change pin to !z:P0.10
##  pin: !z:P0.10 - this is for Inductive Probe
##pin: P1.27
#pin: can0:PB7
#x_offset: 0
#y_offset: 25.0
#z_offset: 0
#speed: 3
#samples: 3
#samples_result: median
#sample_retract_dist: 5
#samples_tolerance: 0.0075
#samples_tolerance_retries: 3

#####################################################################
# 	Fan Control
#####################################################################

##[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE1 Connector
##pin: P2.4
##max_power: 1.0
##kick_start_time: 0.5
##heater: extruder
##heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - XYE board, Fan Pin
##pin: P2.3
##kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
##off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - Z board, HE1 Connector
pin: z:P2.4
kick_start_time: 0.5
fan_speed: 1.0
heater: heater_bed
heater_temp: 45.0

#[heater_fan exhaust_fan]
##	Exhaust fan - Z board, HE0 Connector
#pin: z:P2.7
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
# 	LED Control
#####################################################################

#[output_pin caselight]
# Chamber Lighting - Bed Connector (Optional)
#pin: HEAT_BED
#pwm:true
#shutdown_value: 0
#value:1.0
#cycle_time: 0.01



#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

#[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
#home_xy_position:150,150
#speed:100
#z_hop:10

[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

#--------------------------------------------------------------------
	
##	Gantry Corners for 300mm Build
##	Uncomment for 300mm build
gantry_corners:
	-60,-10
	360,370
##	Probe points
points:
	50,25
	50,225
	250,225
	250,25


#--------------------------------------------------------------------
speed: 700
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

#####################################################################
# 	Displays
#####################################################################

# Chamber Lighting
[output_pin caselight]
pin: P2.5
#max_power: 1.0
#kick_start_time: 0.5
pwm: true
shutdown_value: 0
value: 100
cycle_time: 0.01
scale: 100


[display_status]

[display]
##	mini12864 LCD Display
lcd_type: uc1701
cs_pin: z:P1.18
a0_pin: z:P1.19
encoder_pins: ^z:P3.25,^z:P3.26
click_pin: ^!z:P0.28
contrast: 63

[neopixel fysetc_mini12864]
##	To control Neopixel RGB in mini12864 display
pin: z:P1.21
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
#        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

#--------------------------------------------------------------------

#####################################################################
# 	Macros
#####################################################################




    
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104NT-4-R025H42G"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.707
#*# pid_ki = 1.243
#*# pid_kd = 317.163
#*#
#*# [extruder]
#*# pid_kp = 24.689
#*# pid_ki = 2.572
#*# pid_kd = 59.255
#*#
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.190393, -0.184786, -0.181647, -0.181160, -0.184083, -0.186853, -0.191381, -0.191705, -0.193676, -0.193294, -0.193752
#*# 	-0.185549, -0.179361, -0.175864, -0.178215, -0.182019, -0.183391, -0.187937, -0.189321, -0.195469, -0.199339, -0.199912
#*# 	-0.181822, -0.173328, -0.169990, -0.172968, -0.176383, -0.180156, -0.186839, -0.189802, -0.197544, -0.200747, -0.203164
#*# 	-0.164731, -0.157632, -0.153443, -0.156413, -0.159985, -0.170646, -0.178962, -0.183724, -0.190003, -0.197510, -0.205615
#*# 	-0.142816, -0.133742, -0.127284, -0.132364, -0.143474, -0.152576, -0.161153, -0.169988, -0.179779, -0.193625, -0.205249
#*# 	-0.112106, -0.101879, -0.097187, -0.102293, -0.117417, -0.132172, -0.145316, -0.157075, -0.173631, -0.187141, -0.200925
#*# 	-0.072898, -0.059775, -0.055186, -0.061434, -0.078488, -0.096588, -0.112495, -0.130936, -0.149904, -0.168932, -0.188038
#*# 	-0.025833, -0.011424, -0.006137, -0.012726, -0.029866, -0.051088, -0.070455, -0.095931, -0.120242, -0.146498, -0.173001
#*# 	0.030055, 0.045635, 0.051824, 0.044977, 0.026786, 0.003469, -0.023368, -0.052131, -0.086353, -0.117583, -0.148827
#*# 	0.086595, 0.105534, 0.111477, 0.108388, 0.087506, 0.064746, 0.030105, -0.002969, -0.043986, -0.082147, -0.119544
#*# 	0.144349, 0.168590, 0.178913, 0.177357, 0.160424, 0.135261, 0.095701, 0.052604, 0.004660, -0.041741, -0.083784
#*# 	0.212165, 0.239053, 0.252440, 0.251368, 0.233737, 0.204774, 0.160538, 0.112249, 0.055103, 0.003013, -0.045191
#*# 	0.280263, 0.314342, 0.326360, 0.325164, 0.306977, 0.271490, 0.225050, 0.170226, 0.108842, 0.052189, -0.001755
#*# 	0.342410, 0.381124, 0.399115, 0.402255, 0.383313, 0.345627, 0.292422, 0.228388, 0.164577, 0.101633, 0.041973
#*# tension = 0.2
#*# min_x = 124.38
#*# algo = bicubic
#*# y_count = 14
#*# mesh_y_pps = 2
#*# min_y = 120.975
#*# x_count = 11
#*# max_y = 179.024
#*# mesh_x_pps = 2
#*# max_x = 175.62
#*#
#*# [beacon model default]
#*# model_coef = 1.5921663512208348,
#*# 	  1.911155412833004,
#*# 	  0.7261441345422592,
#*# 	  0.3354621672995293,
#*# 	  0.32570665722113773,
#*# 	  0.2287695145585747,
#*# 	  -0.21185269283822308,
#*# 	  -0.20832301040444254,
#*# 	  0.16804201162742266,
#*# 	  0.13545676692493233
#*# model_domain = 3.250924414198463e-07,3.3318661661726466e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 22.498564
#*# model_offset = 0.00000
